/* =GENERAL */
.container {
  /* Set a fluid width, rather than snapping to each breakpoint */

  max-width: 1200px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .container {
    padding: 0 20px;
  }
}
label small {
  color: #999999;
}
.page-footer {
  padding-top: 9px;
  margin: 40px 0 20px;
  border-top: 1px solid #eeeeee;
}
pre {
  overflow: auto;
  white-space: pre;
  word-wrap: normal;
}
