/*@brand-primary:         #428bca;*/
/*@brand-danger:          #d9534f;*/
/*@input-border-focus:             #66afe9;*/
/* =GENERAL */
body {
  background: #ffffff url(../img/texture-white.png);
}
.page-header {
  background: #b9ffd8 url(../img/texture-green.png);
  margin-top: 0;
  padding-top: 15px;
  border-bottom: 3px solid #28b290;
  box-shadow: 0 5px 15px rgba(0, 100, 100, 0.2);
  margin-bottom: 35px;
  padding-right: 20px;
  padding-left: 20px;
}
h1 {
  font-family: 'Orbitron', sans-serif;
  color: #b22316;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
}
h2,
h3,
h4,
legend,
.tagline {
  font-family: 'Orbitron', sans-serif;
  color: #28b290;
}
.tagline {
  font-size: 18px;
  margin-top: 37px;
}
@media (min-width: 800px) {
  .tagline {
    float: right;
  }
  .page-header h1 {
    float: left;
  }
}
.container {
  /* Set a fluid width, rather than snapping to each breakpoint */

  max-width: 1200px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .container {
    padding: 0 20px;
  }
}
label small {
  color: #999999;
}
.page-footer {
  padding-top: 9px;
  margin: 40px 0 20px;
  border-top: 1px solid #eeeeee;
}
pre {
  overflow: auto;
  white-space: pre;
  word-wrap: normal;
}
.has-error small {
  font-weight: bold;
  color: #b94a48;
}
/* =FOOTER */
.warning {
  color: #999999;
  font-size: 12px;
}
.credit {
  float: right;
}
