@import "variables.less";
@import "mixins.less";

/* =GENERAL */

.container {
	/* Set a fluid width, rather than snapping to each breakpoint */
	max-width: @screen-large;
	.box-sizing(border-box);
}

@media (min-width: @screen-small) {
	.container {
		padding: 0 20px;
	}
}

label small {
	color: @gray-light;
}

.page-footer {
  padding-top: ((@line-height-computed / 2) - 1);
  margin: (@line-height-computed * 2) 0 @line-height-computed;
  border-top: 1px solid @page-header-border-color;
}

pre {
	overflow: auto;
	white-space: pre;
	word-wrap: normal;

}